version: "3.9"

services:
  healthcheck-app:
    image: lovekush1702/healthcheck-app:latest
    container_name: healthcheck
    ports:
      - "4000:4000"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4000/health"]
      interval: 30s
      timeout: 5s
      retries: 3
