name: CI/CD Pipeline

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: node test.js

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t lovekush1702/healthcheck-app:${{ env.IMAGE_TAG }} .
          docker tag lovekush1702/healthcheck-app:${{ env.IMAGE_TAG }} lovekush1702/healthcheck-app:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push lovekush1702/healthcheck-app:${{ env.IMAGE_TAG }}
          docker push lovekush1702/healthcheck-app:${{ github.sha }}

  deploy-to-ec2:
  needs: build-and-push
  runs-on: ubuntu-latest

  steps:
    - name: SSH and deploy with Docker Compose
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/healthcheck
          export IMAGE_TAG=${{ github.sha }}
          sed -i "s/\${IMAGE_TAG:-latest}/${IMAGE_TAG}/" docker-compose.yml
          docker compose pull
          docker compose up -d
          docker system prune -f
